<div  [ngStyle]="style" class="editable-component">
  <input *ngIf="isActiveInput"
         class="{{className}}"
         type="{{type}}"
         [(ngModel)]="entity[entityField]"
         [value]="entity[entityField]"
         (keyup.enter)="updateEntity()"
         (keydown.escape)="cancelUpdate()"
  >
  <span *ngIf="!isActiveInput" class="{{className}} inline">{{entity[entityField]}}</span>
  <div class="inline">
    <button *ngIf="!isActiveInput"
            class="btn btn-small btn-warning btn-editable"
            (click)="isActiveInput=true">Edit</button>
    <button *ngIf="isActiveInput"
            class="btn btn-small btn-primary btn-editable"
            (click)="updateEntity()">Save</button>
    <button *ngIf="isActiveInput"
            class="btn btn-small btn-danger btn-editable"
            (click)="cancelUpdate()">Cancel</button>
  </div>
</div>
