@import "~src/assets/styles/variables";
.navbar {
  padding: 20px;
  margin-bottom: 40px;
}

.bwm-search {
  height: 50px;
  width: 300px;
}

.navbar-brand {
  margin-right: 30px;
  font-size: 30px;
  letter-spacing: 1px;
  color: $main-color;
  font-weight: 500;
}

.nav-item {
  font-size: 14px;
}

.btn-bwm-search {
  border-color: $main-color;
  color: $main-color;
}

.btn-bwm-logout {
  border-color: green;
  color: $main-text-color;
  background-color: lightgray;
}

.hover, .focus, .active {
  background-color: transparent;
  border-color: $main-color !important;
  color: blue !important;
  box-shadow: none;
}


.user-name{
  color: blue;
  font-weight: bold;
}

.clickable{
  cursor: pointer;
}
